@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
}

@theme {
    --color-primary: #5C4BE9;
}

html {
  scroll-behavior: smooth;
}

.reset-tw, .reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 20;
} 